[Unit]
Description=Apache NiFi as service
After=network.target app1.mount

[Service]
Type=forking
User=nifi
Group=nifi
ExecStart=/opt/nifi/bin/nifi.sh start
ExecStop=/opt/nifi/bin/nifi.sh stop
ExecReload=/opt/nifi/bin/nifi.sh restart

[Install]
WantedBy=multi-user.target
